name: Run `AI_Weekly_Update.py` and update post # 工作流的名称

on:
  schedule:
    # 使用 Cron 表达式设置运行频率
    # 例如 '0 3 * * 0' 表示每周日凌晨 3 点 (UTC 时间)
    # 格式为: 分钟 小时 日 月 星期几
    - cron: '50 23 * * 0'
  # 允许手动触发，方便测试
  workflow_dispatch:

jobs:
  execute:
    runs-on: ubuntu-latest # 使用 Ubuntu 环境运行作业

    steps:
    - name: Check out repository # 第一步：拉取仓库代码
      uses: actions/checkout@v4

    - name: Set up Python # 第二步：安装 Python 环境
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        cache: 'pip'  # 启用依赖缓存，提升后续安装效率

    - name: Install dependencies # 第三步：安装依赖
      run: |
        python -m pip install --upgrade pip
        pip install -r requirement.txt

    - name: Run Python Script # 第四步：运行 Python 脚本
      env: # 使用 env 关键字将 Secrets 注入为环境变量
        DASHSCOPE_API_KEY: ${{ secrets.DASHSCOPE_API_KEY }}
      run: python AI_News_Crawler.py

    - name: Commit and Push Changes # 第五步：提交post文件
      run: |
        git add . # 将工作区的所有更改全部添加到 Git 暂存区
        if git diff --quiet && git diff --cached --quiet; then # 检查变更
          echo "No changes to commit. Exiting."
          exit 0
        fi
        # 配置 Git 用户信息 (必须)
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        # 提交更改
        git commit -m "Auto-generate Weekly_Update"
        # 推送更改到当前分支 (通常是 main 或 master)
        git push origin HEAD:${{ github.ref_name }}
